body {
	margin: 0 auto;
	padding: 0;

	width: 1200px;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	display: flex;
	justify-content: space-between;
	
	max-height: 57px;

	/*Временно для сетки*/
	background-color: #f2f2f2;
}

.main-header-logo {
	width: 140px;
	height: 72px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;
	
	/*Временно для сетки*/
	width: 800px;
	background-color: #cccccc;

	list-style: none;
}

.site-navigation a{
	color: #000000;
}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.active-page a {
	color: #766357;
}

.intro img {
	width: 1200px;
	height: 510px;
	margin: 0 auto;
	display: block; 
}

.sedona-about {
	text-align: center;
}

.sedona-about h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sedona-about p {
	font-weight: 400;
	color: #333333;

	margin-top: 39px;
	margin-bottom: 57px;

	background-color: #ffffff;
}

.search {
	text-align: center;
}

.search h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;

	margin-top: 58px;
	margin-bottom: 39px;
}

.search p {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #333333;

	margin-bottom: 55px;
}

.search-info {
	display: none;
}

.hotel-rate {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	margin-left: auto; 

	width: 110px;
	background-color: yellow;
}

.catalog-item {
	min-height: 152px;


	border-bottom: 1px solid #e5e5e5;
	list-style: none;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	margin: 0;

	background-color: #ddd;
}

.catalog-item h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.catalog-item-title {
	color: #000000;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
	color: #81b3d2;
}

.catalog-item-title:active {
	color: #cacaca;
}

.hotel-rate-title {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
}

.hotel-info-title,
.price-tag-title {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
}

.button-selection {
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;

	text-align: center;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;

	list-style: none;
}

.button-selection:hover,
.button-selection:focus {
	background-color: #669ec0;
}

.button-selection:active {
	background-color: #5496bd;
}

.button-color {
	background-color: #766357;
}

.button-color:hover,
.button-color:focus {
	background-color: #604e43;
}

.button-color:active {
	background-color: #503e33;
}

.main-footer {
	color: #000000;

	/*Временно для сетки*/
	background-color: #ccc;

	margin: 0 auto;
	min-height: 120px;
	
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;

	margin: 0 auto;
	padding-left: 130px;
}

.footer-social {
	list-style: none;

	display: flex;
	justify-content: space-between;
	margin-left: 0 auto;
    padding-left: 256px;
	padding-right: 226px;
}

.footer-social li {
    padding-right: 5px;
}

.footer-social a {
	color: #000000;
}

.footer-copyright {
	font-weight: 400;
	margin: 0 auto;
	padding-right: 100px;
}

.copyright:hover,
.copyright:focus {
	fill: #81b3d2;
}

.copyrigh:active {
	fill: #cacaca;
}

.social-button {
	background-color: #81b3d2;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 48px;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}