body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #333;
	background-color: #f2f2f2;
	text-transform: uppercase;
	position: relative;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.body-wrapper {
	background-color: #fff;
  box-shadow: 0px 5px 15px 0px rgba(0, 1, 1, 0.2);
}

.visually-hidden:not(focus):not(active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-navigation {
	position: relative;
	background-color: white;
}

.main-header-logo {
	position: absolute;
	left: 530px;
	right: 530px;
	z-index: 9;
}

.site-navigation {
	margin: 0;
	padding: 15px 0;
	list-style: none;
}

.site-navigation li {
	display: inline;
}

.site-navigation li:first-child {
	margin-left: 71px;
}

.site-navigation li:nth-child(2) {
	margin-left: 145px;
	margin-right: 385px;
}

.site-navigation li:nth-child(4) {
	margin-left: 162px;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover, 
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #000;
	opacity: 0.3;
}

.active-page a {
	color: #766357;
}

.intro {
  background-color: #cce1f2;
  background-size: cover;
  background-image: url(../img/sedona-index.jpg);
}

.intro img {
  display: block;
  margin: auto;
}

.sedona-about h3 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-align: center;
	margin-top: 57px;
}

.sedona-about p {
	font-weight: 400;
	color: #333333;
	text-align: center;	
	margin-top: 27px;
	margin-bottom: 50px;
}

.reasons {
  display: flex;
  margin: 0 auto;
  background-color: #81b3d2;
  color: white;
}

.wrapper-reasons {
	width: 400px;
  min-height: 256px;
  align-items: center;
  text-align: center;
}

.reasons-title {
	font-size: 21px;
	line-height: 21px;
	padding-top: 48px;
  padding-bottom: 24px;
  width: 160px;
  margin: 0 auto;
}

.reasons-number {
	line-height: 21px;
	font-weight: 400;
	padding-bottom: 20px;
  margin: 0 auto;
}

.reasons-text {
	line-height: 21px;
	font-weight: 400;
	margin: 0 auto;
  width: 305px;
}

.recomends-list {
	min-height: 331px;
}

.recomends {
	margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.recomend {
	text-align: center;
  width: 400px; 
}

.recomend-title {
  padding-bottom: 5px;
}

.recomend-text {
	line-height: 21px;
	font-weight: 400;
	width: 290px;
  margin: 0 auto;
}

.recomend-icon {
	padding-top: 58px;
}

.attraction {
	background-color: #f2f2f2;
	min-height: 256px;
}

.attraction-title {
	padding-top: 46px;
  padding-bottom: 25px;
  width: 123px;
  margin: 0 auto;
  line-height: 21px;
}

.attraction-text {
	font-weight: 400;
	line-height: 21px;
	padding-top: 21px;
  width: 268px;
  margin: 0 auto;
}

.attraction-number {
	font-weight: 400;
	line-height: 21px;
	margin: 0 auto;
}

.search h2 {
	display: block;
  text-align: center;
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	margin: 0 auto;
	padding-top: 50px;
  padding-bottom: 24px;
 }

.search p {
	display: block;
  text-align: center;
	line-height: 24px;
	font-weight: 400;
	color: #333333;
	margin: 0 auto;
	margin-bottom: 46px;
}

.search-info {
	width: 570px;
	padding: 0;
	margin: 0 auto;
  background-color: white;   
}

.search-info h3 {
	font-size: 21px;
  text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 0;
}

.hotel-search {
	position: relative;
  z-index: 11;
	display: block;
  padding: 30px 135px;
  color: white;
  background-color: #766357;
}

.hotel-search:hover {
  background-color: #604e43;
}

.hotel-search:active {
  background-color: #503e33;
  color: #857871;
}

.search-form {
	position: absolute;
	z-index: 9;
	width: 460px;
  padding: 55px;  
  box-shadow: 0 7px 15px rgba(0,1,1,0.15);
  background-color: white;
}

.search-form input[type="text"], input[type="number"] {
  height: 38px;
  border: none;
  margin: 0 auto;
  text-transform: uppercase;
  font: inherit;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  background-color: #f2f2f2;
}

.search-form input[type="text"] {
  min-width: 346px;
  text-align: left;
  padding: 0;
  padding-left: 12px;
  margin: 0;
  margin-left: 16px;
}

.search-form input[type="number"] {
  width: 38px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.search-form-hidden {
	display: none;
 	animation: 0.6s forwards;
}

.search-form-show {
  animation-name: move;
  animation-duration: 1s;
}
	
@keyframes move {
	from {
    transform: translateY(-90px);
  }

  to {
    transform: translateY(0px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes shake {
  0%, 100%                { transform: translateX(0);  }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80%      { transform: translateX(10px); }
}

.data-select {
	position: relative;
  display: flex;
  justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.data-select-1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.number-select {
	display: flex;
	width: 227px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 54px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form input[type="text"]:hover,
.search-form input[type="number"]:hover {
	background-color: #ebebeb; 
}

.search-form input[type="text"]:focus,
.search-form input[type="number"]:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.calendar {
  position: absolute;
  margin-right: 0px;
  padding-right: 0px;
  right: 9px;
  bottom: 7px;
}

.calendar {
  fill: #818181;
}

.calendar:hover {
  fill: black;
}

.calendar:active {
	fill: #81b3d2;
}

.kids {
	margin-left: 50px;
}

.number {
	display: flex;
	justify-content: space-between;
}

.nmb-btn {
	text-align: center;
	width: 38px;
	height: 38px;
	border: none;
  color: #a9a9a9;
  font-weight: bold;
  font-size: 26px;
  margin: 0;
  background-color: #f2f2f2;
 }

.nmb-btn-minus:hover {
  color: black;
  border: none;
}

.nmb-btn-minus:active {
  color: #81b3d2;
  border: none;
}

.nmb-btn-pls:hover {
  color: black;
  border: none;
}

.nmb-btn-pls:active {
  color: #81b3d2;
  border: none;
}

.find-btn {
  background-color: #81b3d2;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  border: none;
  margin: 0 auto;
  padding: 18px 196px;
  width: 100%;
}

.find-btn:hover {
  background-color: #669ec0;
}

.find-btn:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.options {
	background-color: #425460;
  background-image: url(../img/sedona-hotels.jpg);
  background-repeat: no-repeat;
  height: 218px;
  display: flex;
  justify-content: space-between;
}

.filter-form {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.infrastructure {
  margin-right: 116px;
  margin-left: 73px;
}

.filter-form fieldset {
  padding: 0;
  border: 0px;
}

.legend {
  margin-bottom: 24px;
}

.filter {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter li:first-child {
  margin-bottom: 27px;
  position: relative;
  bottom: 4px;
}

.filter li:nth-child(2) {
  margin-bottom: 24px;
  position: relative;
  bottom: 5px;
}

.filter li:last-child {
  position: relative;
  bottom: 5px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  background-image:url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 23px;
  left: -40px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  background-image:url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  width: 28px;
  height: 23px;
  left: -40px;
}

.filter-input-checkbox:focus + label::before {
  outline: rgb(141, 193, 252) auto 3px;
}

.checkbox + label {
  cursor: pointer;
}

.filter-range {
  width: 320px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 345px;
  margin-right: 80px;
  margin-top: -28px;
  margin-bottom: -20px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 34px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #fff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #fff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  font-weight: 400;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  line-height: 21px;
	font-weight: 400;
  background: none;
  border: none;
}

.price-controls input[type="text"] {
	margin-top: 0px;
  padding-bottom: 10px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #fff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-left: 87px;
  padding: 6px 33px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000;
  background: #fff;
}

.sorting {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 86px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-results {
  font-weight: bold;
  font-size: 21px;
  padding-left: 72px;
  margin-left: 0px;
}

.sort-list {
  margin: 0 auto;
  font-weight: 700;
  font-size: 12px;
  margin-left: 48px;
  margin-right: 0;
  padding-top: 2px;
}

.sorting-types {
	font-size: 12px;
	font-weight: 400;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-left: 40px;
  padding-left: 0;
  list-style: none;
  padding-top: 3px;
}

.sorting-type:hover {
  color: #b3d1e4;
  border-bottom: 1px dashed #81b3d2;
}

.sorting-type:active {
  color: black;
  border-bottom: 0px;
}

.sorting-type {
  color: #b2b2b2;
  border-bottom: 1px dashed #81b3d2;
}

.active-link {
  color: #b3d1e4;
}

.active-link, .sorting-type {
  margin-right: 34px;
}

.more {
  fill: #81b3d2;
}

.more:hover {
  fill: black;
}

.more:active {
  fill: #81b3d2;
}

.less {
  fill: #cacaca;
  margin-right: 73px;
  margin-left: 10px;
}

.less:hover {
  fill: black;
}

.less:active {
  fill: #81b3d2;
}

.catalog-list {
	margin: 0;
	padding: 0;
}

.catalog-item {
	display: flex;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
	margin-left: 73px;
	margin-top: 31px;
	margin-bottom: 21px;
	padding: 0;	
}

.wrapper-catalog {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 30px;	
	width: 280px;
}

.wrapper-catalog h3 {
	margin: 0;
	margin-top: 24px;
	margin-bottom: 7px;
}

.hotel-rate {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 120px;
	margin-right: 72px;
	margin-top: 4px;
	margin-left: auto;
}

.wrapper-stars {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	padding-top: 25px;
	padding-bottom: 46px;
}

.stars {
	padding-left: 5px;
}

.wrapper-info {
	display: flex;	
	margin: 0;
	padding: 0;
}

.hotel-info {	
	width: 110px;
	margin-right: 6px;
}

.price-tag {
	width: 143px;
	margin: 0;
	padding: 0;
}

.catalog-item-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
	color: #81b3d2;
}

.catalog-item-title:active {
	color: #cacaca;
}

.hotel-rate-title {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;

	padding: 4px 14px;
	background-color: #f2f2f2;
}

.hotel-info-title,
.price-tag-title {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
}

.button-selection {
	line-height: 21px;
	display: block;
    padding: 3px 6px;
    margin: 0;
    text-align: center;
    color: #ffffff;
	background-color: #81b3d2;
	border: none;
	list-style: none;
}

.button-selection:hover,
.button-selection:focus {
	background-color: #669ec0;
}

.button-selection:active {
	background-color: #5496bd;
	color: rgb(255,255,255, 0.3);
}

.button-color {
	padding: 3px 16px;
	text-align: center;
	
	background-color: #766357;
}

.button-color:hover,
.button-color:focus {
	background-color: #604e43;
}

.button-color:active {
	background-color: #503e33;
	color: rgb(255,255,255, 0.3);
}

.main-footer {
	margin: 0 auto;
	padding: 0;
	display: flex;
	width: 1200px;
	justify-content: space-between;
	align-items: center;
	height: 120px;
	background-color: rgba(255, 255, 255, 0.9);
} 

.map {
	position: relative;
  background-image: url(../img/map.jpg);
  background-color: #D7FFC4;
  background-repeat: no-repeat;
	min-height: 593px;
}

.footer-map {
	position: absolute;
	bottom: 0;
	margin-bottom: 8px;
}

.hashtag {
	display: block;
	font-size: 21px;
	color: #000;
	margin: 0 auto;
	margin-left: 130px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 150px;
	padding: 0;
  margin-left: 256px;
  margin-right: 229px;
	list-style: none;
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
	background-color: #669ec0;
}

.social-button:active path {
	fill: #fff;
	background-color: #5496bd;
	opacity: 0.3;
}

.footer-copyright {
	display: flex;
	width: 197px;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin-right: 100px;	
}

.footer-copyright span {
	font-weight: 400;
	vertical-align: middle;
}

.copyright {
	display: inline-block;
	vertical-align: top;
}

.copyright:hover path, 
.copyright:focus path {
	fill: #81b3d2;
}

.copyright:active path {
	fill: #bdbbbc;
}